.background-linear{
    background: linear-gradient(90deg,#6F00ED,rgb(178, 24, 173));
}
.primary-color{
    color:#6F00ED;
}
.section-padding{
    padding:2rem 0rem;
}
.card-icon{
    margin-left: 37%;
}
.p-content{
    text-align: justify;
}
.stop-writing{
    background-image:url("../images/img/background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    height: 100vh;
}
.footer-bg{
    background: #323030;
}
.footer-padding{
    padding: 3rem 0;
}