.background-linear{
    background: linear-gradient(90deg,#6F00ED,rgb(178, 24, 173));
}
.primary-color{
    color:#6F00ED;
}
.section-padding{
    padding:2rem 0rem;
}
.card-icon{
    margin-left: 37%;
}